CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
*~
.idea
.directory
.vscode

# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
Makefile*
*build-*


# Qt unit tests
target_wrapper.*


# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user*
build/
debian/tmp/
debian/aubo-scope

#vim
*.swp
*.vim-bookmarks

#project bin
AuboScope

#test bin
data_model_test
feature_contribution_model_test
.dep/
appdir/
bin/
__pycache__/
translations

# resources font tmp
resources/**/*.scale
resources/**/*.dir

